<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>我的购物车</title>
		<style>
			.item-content clearfix li{
				margin-left:50px;
			}
		</style>

		<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" th:href="@{/AmazeUI-2.4.2/assets/css/amazeui.css}"  rel="stylesheet" type="text/css" />
		<link href="../basic/css/demo.css" rel="stylesheet"th:href="@{/basic/css/demo.css}" type="text/css" />
		<link href="../css/cartstyle.css" rel="stylesheet" th:href="@{/css/cartstyle.css}" type="text/css" />
		<link href="../css/optstyle.css" rel="stylesheet" th:href="@{/css/optstyle.css}" type="text/css" />

		<script type="text/javascript" src="../js/jquery.js" th:src="@{/js/jquery.js}" ></script>
		<script type="text/javascript" src="" th:src="@{/js/cart.js}"></script>
		<link rel="stylesheet" href="css/style.css" th:href="@{/css/styledemo.css}"/>
		<script type="text/javascript" src="js/demo.js" th:src="@{/js/cartdemo.js}"></script>

	</head>

	<body>

		<!--顶部导航条 -->
		<div class="am-container header">
			<ul class="message-l">
				<div class="topMessage">
					<div class="menu-hd" th:if="${session.user==null}">
						<!--　 <a href="comments.html" th:href="@{/product/comments(prodId=${prod.id})}" th:if="${not #lists.isEmpty(prod.comments)}">view</a>-->
						<a href="/toLogin" th:href="${#httpServletRequest.getContextPath()+'/toLogin'}"  target="_top" class="h">亲，请登录</a>
					</div>
					<div class="menu-hd" th:if="${session.user!=null}">
						<!--　 <a href="comments.html" th:href="@{/product/comments(prodId=${prod.id})}" th:if="${not #lists.isEmpty(prod.comments)}">view</a>-->
						<a href="/toLogin" th:href="@{/user/toPersonCenter}" th:text="${session.user.companyName}"  target="_top" class="h"></a>
					</div>
					<a href="toRegister" th:href="${#httpServletRequest.getContextPath()+'/toRegister'}" target="_top">免费注册</a>
				</div>
			</ul>
			<ul class="message-r">
				<div class="topMessage home">
					<div class="menu-hd"><a href="#" th:href="@{/toIndex}" target="_top" class="h">商城首页</a></div>
				</div>
				<div class="topMessage my-shangcheng">
					<div class="menu-hd MyShangcheng"><a href="#" th:href="@{/user/toPersonCenter}" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
				</div>
				<div class="topMessage mini-cart">
					<div class="menu-hd"><a id="mc-menu-hd" th:href="@{/cart/toCart}" href="#" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
				</div>
				<div class="topMessage favorite">
					<div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
				</div>
			</ul>
			</div>

			<!--悬浮搜索框-->

			<div class="nav white">
				<div class="logo"><img src="../images/logo.png" /></div>
				<div class="logoBig">
					<li><img src="../images/logobig.png" /></li>
				</div>

				<div class="search-bar pr">
					<a name="index_none_header_sysc" href="#"></a>
					<form>
						<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
						<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
					</form>
				</div>
			</div>

			<div class="clear"></div>

			<!--购物车 -->
		<div class="catbox">
			<table id="cartTable">
				<thead>
				<tr>
					<th><label>
						<input class="check-all check" type="checkbox"/>&nbsp;&nbsp;全选</label></th>
					<th>商品</th>
					<th>单价</th>
					<th>数量</th>
					<th>小计</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="cartInfo : ${cartList} ">

					<td class="checkbox"><input class="check-one check" type="checkbox"/></td>
					<td class="goods" style="width: 400px;"><a href="#" th:href="@{/introduction.html(itemId=${cartInfo.itemId})}"><img th:src="${cartInfo.smallImage}" src="images/2.jpg" alt=""/><span th:text="${cartInfo.title}">Canon/佳能 PowerShot SX50 HS</span></a></td>
					<td class="price" th:text="${cartInfo.price}">3888.50</td>
					<td class="count" style="width: 150px;"><span class="reduce"></span>
						<input class="count-input" type="text" th:value="${cartInfo.number}" value="1"/>
						<input type="hidden" class="itemId" th:value="${cartInfo.itemId}"/>
						<span class="add">+</span></td>
					<td class="subtotal" th:value="${cartInfo.totalPrice}" th:text="${cartInfo.totalPrice}">3888.50</td>
					<td class="operation"><a th:name="${cartInfo.itemId}" class="delete">删除</a></td>
				</tr>
				</tbody>
			</table>
			<div class="foot" id="foot">
				<label class="fl select-all"><input type="checkbox" class="check-all check"/>&nbsp;&nbsp;全选</label>
				<a class="fl delete" id="deleteAll" href="javascript:;">删除</a>
				<div class="fr closing" ><a href="javaScript:void(0)"  onclick="getTotalPrice()">结 算</a></div>
				<input type="hidden" id="cartTotalPrice" />
				<div class="fr total">合计：￥<span id="priceTotal">0.00</span></div>
				<div class="fr selected" id="selected">已选商品<span id="selectedTotal">0</span>件<span class="arrow up">︽</span><span class="arrow down">︾</span></div>
				<div class="selected-view">
					<div id="selectedViewList" class="clearfix">
						<div><img src="images/1.jpg"><span>取消选择</span></div>
					</div>
					<span class="arrow">◆<span>◆</span></span> </div>
			</div>
		</div>
				<div class="clear"></div>
		<script th:inline="javascript">
			/*<![CDATA[*/
            function getTotalPrice() {
                var array = [];
                $(".itemId").each(function (i, e) {
                    var _this = $(e);
                    if ($(".check").eq(i).prop("checked") == true) {
                        array.push({itemId: $(e).val(), number: parseInt(_this.siblings(".count-input").val())});
                    }
                });
                console.log(array);
                if (array === undefined || array.length == 0) {
					alert("请选择商品");
				}
				else{
                    alert("结算中...");
                    var data = {cartList: array};
                    window.location.href = getURLPath() + "toPay?items=" + encodeURIComponent(JSON.stringify(data));
				}
            }
            //获取请求绝对路径
            function  getURLPath() {
                var contextPath=[[${#httpServletRequest.getScheme()}]]+"://"+[[${#httpServletRequest.getServerName()}]] + ":"+ [[ ${#httpServletRequest.getServerPort()}]]  + [[${#httpServletRequest.getContextPath()}]] + "/";
                return contextPath;
            }
            $(".delete").on('click',function(){
					var a=$(this).attr('name');
					$.ajax({
                        type:'post',
                        url:getURLPath()+"cart/deleCartItem",
                        dataType:'json',
                        data:{itemId:a},
						success:function (data) {
							alert("删除成功！");
							window.location.href=getURLPath()+"cart/toCart";
                        },
						error:function () {
							alert("删除失败 请稍后重试...");
							window.location.href=getURLPath()+"cart/toCart";
                        }
                    });
			});
			/*]]>*/
		</script>

				</div>

				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a>
							<b>|</b>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
						</p>
					</div>
				</div>

			</div>

			<!--操作页面-->

			<div class="theme-popover-mask"></div>

			<div class="theme-popover">
				<div class="theme-span"></div>
				<div class="theme-poptit h-title">
					<a href="javascript:;" title="关闭" class="close">×</a>
				</div>
				<div class="theme-popbod dform">
					<form class="theme-signin" name="loginform" action="" method="post">

						<div class="theme-signin-left">

							<li class="theme-options">
								<div class="cart-title">颜色：</div>
								<ul>
									<li class="sku-line selected">12#川南玛瑙<i></i></li>
									<li class="sku-line">10#蜜橘色+17#樱花粉<i></i></li>
								</ul>
							</li>
							<li class="theme-options">
								<div class="cart-title">包装：</div>
								<ul>
									<li class="sku-line selected">包装：裸装<i></i></li>
									<li class="sku-line">两支手袋装（送彩带）<i></i></li>
								</ul>
							</li>
							<div class="theme-options">
								<div class="cart-title number">数量</div>
								<dd>
									<input class="min am-btn am-btn-default" name="" type="button" value="-" />
									<input class="text_box" name="" type="text" value="1" style="width:30px;" />
									<input class="add am-btn am-btn-default" name="" type="button" value="+" />
									<span  class="tb-hidden">库存<span class="stock">1000</span>件</span>
								</dd>

							</div>
							<div class="clear"></div>
							<div class="btn-op">
								<div class="btn am-btn am-btn-warning">确认</div>
								<div class="btn close am-btn am-btn-warning">取消</div>
							</div>

						</div>
						<div class="theme-signin-right">
							<div class="img-info">
								<img src="../images/kouhong.jpg_80x80.jpg" />
							</div>
							<div class="text-info">
								<span class="J_Price price-now">¥39.00</span>
								<span id="Stock" class="tb-hidden">库存<span class="stock">1000</span>件</span>
							</div>
						</div>

					</form>
				</div>
			</div>
		<!--引导 -->
		<div class="navCir">
			<li><a href="home2.html"><i class="am-icon-home "></i>首页</a></li>
			<li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
			<li class="active"><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>	
			<li><a href="../person/index.html"><i class="am-icon-user"></i>我的</a></li>					
		</div>
	</body>

</html>