<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" href="../AmazeUI-2.4.2/assets/css/amazeui.min.css" th:href="@{/AmazeUI-2.4.2/assets/css/amazeui.css}" />
    <link href="../css/dlstyle.css" rel="stylesheet" th:href="@{/css/dlstyle.css}" type="text/css"/>
    <script src="../AmazeUI-2.4.2/assets/js/jquery.min.js" th:src="@{/AmazeUI-2.4.2/assets/js/jquery.min.js}"></script>
    <script src="../AmazeUI-2.4.2/assets/js/amazeui.min.js" th:src="@{/AmazeUI-2.4.2/assets/js/amazeui.min.js}"></script>

</head>

<body>

<div class="login-boxtitle">
    <a th:href="${registerCast.url}" href="home/demo.html"><img alt="" src="../images/logobig.png" th:src="${registerCast.pic}" /></a>
</div>

<div class="res-banner">
    <div class="res-main">
        <div class="login-banner-bg"><span></span><img src="../images/big.jpg" th:src="${registerCast.pic}"  /></div>
        <div class="login-box" style="margin-right: 100px; height: 600px; ">

            <div class="am-tabs" id="doc-my-tabs">
                <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                    <li class="am-active"><a href="#">注册采购</a></li>
                    <li><a href="#">注册供应</a></li>
                </ul>

                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-active">
                        <form id="form1" method= "post" onsubmit="return false"   data-am-validator="data-am-validator">

                            <div class="user-name">
                                <label for="companyName1"><i class="am-icon-edit"></i></label>
                                <input type="text" required="required" name="companyName" id="companyName1" placeholder="公司名称"/>
                            </div>
                            <div class="user-name">
                                <label for="shortName1"><i class="am-icon-edit"></i></label>
                                <input type="text" required="required" name="shortName" id="shortName1" placeholder="公司简称"/>
                            </div>
                            <div class="user-email">
                                <label for="email1"><i class="am-icon-envelope-o"></i></label>
                                <input type="email" required="required" name="email" id="email1" placeholder="请输入邮箱账号并作为登录账号"/>
                            </div>

                            <div class="user-phone">
                                <label for="phone1"><i class="am-icon-mobile-phone am-icon-md"></i></label>
                                <input type="text"  name="phone" pattern="^1[3,4,5,7,8]\d{9}$" required="required" onblur="checkPhone($(this).val());"  id="phone1" placeholder="请输入手机号"/>
                            </div>
                            <div class="verification">
                                <label for="code1"><i class="am-icon-code-fork"></i></label>
                                <input type="tel" name="" id="code1" placeholder="请输入验证码"/>
                                <a class="btn" href="javascript:void(0);" onclick="sendMobileCode($('#phone1'),$('#msg'));" id="sendMobileCode">
                                    <span id="dyMobileButton">获取</span></a>
                            </div>
                            <span id="msg" style="color: red;"></span>

                            <div class="user-pass">
                                <label for="password1"><i class="am-icon-lock"></i></label>
                                <input type="password" required="required" name="password" pattern="^\d{6}$" id="password1" placeholder="设置密码"/>
                            </div>
                            <div class="user-pass">
                                <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
                                <input type="password" required="required" name="" pattern="^\d{6}$" id="passwordRepeat2" placeholder="确认密码"  data-equal-to="#password1"/>
                            </div>

                            <div class="am-cf">
                                <input type="button" onclick="noTips()" name="" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl"/>
                            </div>

                        </form>
                    <!--    <script>
                            if ($.AMUI &amp;&amp; $.AMUI.validator) {
                                $.AMUI.validator.patterns.mobile = /^\s*1\d{10}\s*$/;
                            }
                        </script>-->


                        <div class="login-links">
                            <label for="reader-me">
                                <input id="reader-me2" type="checkbox"/> 点击表示您同意商城《服务协议》
                            </label>
                        </div>


                    </div>

                    <div class="am-tab-panel" style="height: 900px;">
                        <form method="post" action="">
                            <div class="user-name">
                                <label for="companyName2"><i class="am-icon-edit"></i></label>
                                <input type="text" required="required" name="companyName" id="companyName2" placeholder="公司名称"/>
                            </div>
                            <div class="user-name">
                                <label for="shortName2"><i class="am-icon-edit"></i></label>
                                <input type="text" required="required" name="shortName" id="shortName2" placeholder="公司简称"/>
                            </div>
                            <div class="user-phone">
                                <label for="phone"><i class="am-icon-mobile-phone am-icon-md"></i></label>
                                <input type="tel" name="" id="phone" placeholder="请输入手机号"/>
                            </div>
                            <div class="verification">
                                <label for="code"><i class="am-icon-code-fork"></i></label>
                                <input type="tel" required="required" name="" id="code" placeholder="请输入验证码"/>
                                <a class="btn" href="javascript:void(0);" onclick="sendMobileCode();" id="sendMobileCode2">
                                    <span id="dyMobileButton2">获取</span></a>
                            </div>
                            <div class="user-pass">
                                <label for="password2"><i class="am-icon-lock"></i></label>
                                <input type="password" name="password" id="password2" placeholder="设置密码"/>
                            </div>
                            <div class="user-pass">
                                <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
                                <input type="password" name="" id="passwordRepeat" placeholder="确认密码"/>
                            </div>
                        </form>
                        <div class="login-links">
                            <label for="reader-me">
                                <input id="reader-me" type="checkbox"/>点击表示您同意商城 《服务协议》
                            </label>
                        </div>
                        <div class="am-cf">
                            <input type="button" onclick="noTips()" name="" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl"/>
                        </div>

                        <hr/>
                    </div>

                    <script>
                        $(function() {
                            $('#doc-my-tabs').tabs();
                        })
                    </script>

                </div>
            </div>

        </div>
    </div>

    <div class="footer ">
        <div class="footer-hd ">
            <p>
                <a href="# ">三炮科技</a>
                <b>|</b>
                <a href="# " th:href="@{/toIndex}">商城首页</a>
                <b>|</b>
                <a href="# ">支付宝</a>
                <b>|</b>
                <a href="# ">物流</a>
            </p>
        </div>
        <div class="footer-bd ">
            <p>
                <a href="# ">关于三炮</a>
                <a href="# ">合作伙伴</a>
                <a href="# ">联系我们</a>
                <a href="# ">网站地图</a>
                <em>© 2015-2025 三炮.com 版权所有 <a href="http://www.cssmoban.com/" target="_blank" title="三炮之家">三炮之家</a> - Collect from</em>
            </p>
        </div>
    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/

            $(function(){
               //表单提交的时候 判断各种输入是否合法
                $("#form1").submit(function(event){
                        //验证验证码是不是正确
                        /*if(validateCode($("#code1").val())){
                        }
                        else{
                            event.preventDefault();//阻止表单提交
                        }*/

                });

            });

            function noTips(){
                var formParam = $("#form1").serialize();//序列化表格内容为字符串
                $.ajax({
                    type:'post',
                    url:getURLPath()+'purchaser/register',
                    data:formParam,
                    cache:false,
                    dataType:'json',
                    success:function(data){
                        if(data.result=='1'){
                            if(confirm("注册成功 是否现在就去企业信息认证?")){
                               window.location.href=getURLPath()+"/toConfirm?purchaserId"+data.id;
                            }
                            else{
                                window.location.href=getURLPath()+"/toIndex";
                            }
                        }
                        else{
                            alert(data.msg);
                        }
                    }
                });
            }


            function sendMobileCode(phone,msg){
            if ($.trim($(phone).val()).length == 0) {
                msg.html('手机号没有输入');
                $(phone).focus();
            } else
                if(isPhoneNo($.trim($(phone).val())) == false) {
                    msg.html("手机号格式错误");
                    $(phone).focus();

            }
            else{
                //发送验证码请求
                    $.ajax({
                        url: "/user/sendCode",
                        dataType: "json",
                        data: code,
                        type: "POST",
                        success: function(data){
                            if(data.success=="right"){
                                $("#msg").html("");
                                //验证码正确
                                return true;
                            }else{
                                //验证码不正确
                                $("#msg").html("验证码错误");
                                //alert("请重新获取验证码");
                                return false;
                            }
                        },
                        error:function(){
                            alert("发送失败 请稍后..");
                        }
                    });
                alert("验证码已发出..");
                msg.html("");
                }
        }




        // 验证手机号
        function isPhoneNo(phone) {
            var pattern = /^1[34578]\d{9}$/;
            return pattern.test(phone);
        }

        function checkPhone(phone){
            if(isPhoneNo(phone)==false){
                $("#msg").html("手机号格式错误");
            }
            else{
                $("#msg").html("");
            }
        }

        //验证验证码是不是正确
        function validateCode(code){
            $.ajax({
                url: "/user/validateCode",
                dataType: "json",
                data: code,
                type: "POST",
                success: function(data){
                    if(data.success=="right"){
                        $("#msg").html("");
                        //验证码正确
                        return true;
                    }else{
                        //验证码不正确
                        $("#msg").html("验证码错误");
                        //alert("请重新获取验证码");
                        return false;
                    }
                },
                error:function(){
                    alert("服务器出错...");
                }
            });
        }

        function  getURLPath() {
            var contextPath=[[${#httpServletRequest.getScheme()}]]+"://"+[[${#httpServletRequest.getServerName()}]] + ":"+ [[ ${#httpServletRequest.getServerPort()}]]  + [[${#httpServletRequest.getContextPath()}]] + "/";
            return contextPath;
        }


        /*]]>*/
    </script>
</div>
</body>

</html>