<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Test20</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>
<body>
<form id="addUser" action="/user/add" method="post">
    <input type="text" name="userName" value="">
    <input type="text"  name="realName" value="">
    <input type="text" name="mobile" value="">
    <input type="text"  name="phone" value="">
    <input type="text" name="email" value="">
    <input type="text"  name="remark" value="">
    <input type="text"  name="cityId" value="0">
</form>

</body>
</html>