<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <springProfile name="dev">
        <contextName>dist</contextName>
        <property name="logHome" value="./providerlog" />
        <!--输出到控制台-->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--</filter>-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS}[%X{sequence}][%X{thirdpartySequence}] %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <!--输出到文件-->
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--</filter>-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS}[%X{sequence}][%X{thirdpartySequence}] %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <!--滚动策略-->
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--路径-->
                <FileNamePattern>${logHome}/%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
                <!-- 文件大小触发重写新文件 -->
                <maxFileSize>100MB</maxFileSize>
                <!-- 日志文件保留天数 -->
                <!--<MaxHistory>30</MaxHistory>-->
            </rollingPolicy>
        </appender>

        <!--输出到MQ-->
        <appender name="mq" class="com.bwton.dist.core.log.MQAppender">
            <groupName>logProducerGroup</groupName>
            <namesrvAddr>10.10.2.20:9876</namesrvAddr>
            <instanceName>logProducerGroup</instanceName>
            <maxMessageSize>131072</maxMessageSize>
            <sendMsgTimeout>10000</sendMsgTimeout>
            <sendMsgRetryTimes>3</sendMsgRetryTimes>
        </appender>

        <root level="INFO">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
            <!--<appender-ref ref="mq"/>-->
        </root>

        <!--logback.LogbackDemo：类的全路径 -->
        <logger name="com.bwton.dist" level="DEBUG">
        </logger>
    </springProfile>
    <springProfile name="dev20">
        <contextName>dist</contextName>
        <property name="logHome" value="./providerlog" />
        <!--输出到控制台-->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--</filter>-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS}[%X{sequence}][%X{thirdpartySequence}] %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <!--输出到文件-->
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--</filter>-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS}[%X{sequence}][%X{thirdpartySequence}] %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <!--滚动策略-->
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--路径-->
                <FileNamePattern>${logHome}/%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
                <!-- 文件大小触发重写新文件 -->
                <maxFileSize>100MB</maxFileSize>
                <!-- 日志文件保留天数 -->
                <!--<MaxHistory>30</MaxHistory>-->
            </rollingPolicy>
        </appender>

        <!--输出到MQ-->
        <appender name="mq" class="com.bwton.dist.core.log.MQAppender">
            <groupName>logProducerGroup</groupName>
            <namesrvAddr>10.10.2.20:9876</namesrvAddr>
            <instanceName>logProducerGroup</instanceName>
            <maxMessageSize>131072</maxMessageSize>
            <sendMsgTimeout>10000</sendMsgTimeout>
            <sendMsgRetryTimes>3</sendMsgRetryTimes>
        </appender>

        <root level="INFO">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
            <!--<appender-ref ref="mq"/>-->
        </root>

        <!--logback.LogbackDemo：类的全路径 -->
        <logger name="com.bwton.dist" level="DEBUG">
        </logger>
    </springProfile>
    <springProfile name="test">
        <contextName>dist</contextName>
        <property name="logHome" value="./providerlog" />
        <!--输出到控制台-->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--</filter>-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS}[%X{sequence}][%X{thirdpartySequence}] %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <!--输出到文件-->
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--</filter>-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS}[%X{sequence}][%X{thirdpartySequence}] %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <!--滚动策略-->
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--路径-->
                <FileNamePattern>${logHome}/%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
                <!-- 文件大小触发重写新文件 -->
                <maxFileSize>100MB</maxFileSize>
            </rollingPolicy>
        </appender>
        <!--输出到MQ-->
        <appender name="mq" class="com.bwton.dist.core.log.MQAppender">
            <groupName>logProducerGroup</groupName>
            <namesrvAddr>10.10.2.20:9876</namesrvAddr>
            <instanceName>logProducerGroup</instanceName>
            <maxMessageSize>131072</maxMessageSize>
            <sendMsgTimeout>10000</sendMsgTimeout>
            <sendMsgRetryTimes>3</sendMsgRetryTimes>
        </appender>
        <root level="INFO">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </root>

        <!--logback.LogbackDemo：类的全路径 -->
        <logger name="com.bwton.dist" level="INFO">
        </logger>
    </springProfile>
    
    <springProfile name="test103">
        <contextName>dist</contextName>
        <property name="logHome" value="./providerlog" />
        <!--输出到控制台-->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--</filter>-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS}[%X{sequence}][%X{thirdpartySequence}] %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <!--输出到文件-->
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--</filter>-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS}[%X{sequence}][%X{thirdpartySequence}] %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <!--滚动策略-->
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--路径-->
                <FileNamePattern>${logHome}/%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
                <!-- 文件大小触发重写新文件 -->
                <maxFileSize>100MB</maxFileSize>
            </rollingPolicy>
        </appender>
        <!--输出到MQ-->
        <appender name="mq" class="com.bwton.dist.core.log.MQAppender">
            <groupName>logProducerGroup</groupName>
            <namesrvAddr>10.10.2.20:9876</namesrvAddr>
            <instanceName>logProducerGroup</instanceName>
            <maxMessageSize>131072</maxMessageSize>
            <sendMsgTimeout>10000</sendMsgTimeout>
            <sendMsgRetryTimes>3</sendMsgRetryTimes>
        </appender>
        <root level="INFO">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </root>

        <!--logback.LogbackDemo：类的全路径 -->
        <logger name="com.bwton.dist" level="INFO">
        </logger>
    </springProfile>
    
    <springProfile name="test104">
        <contextName>dist</contextName>
        <property name="logHome" value="./providerlog" />
        <!--输出到控制台-->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--</filter>-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS}[%X{sequence}][%X{thirdpartySequence}] %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <!--输出到文件-->
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--</filter>-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS}[%X{sequence}][%X{thirdpartySequence}] %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <!--滚动策略-->
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--路径-->
                <FileNamePattern>${logHome}/%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
                <!-- 文件大小触发重写新文件 -->
                <maxFileSize>100MB</maxFileSize>
            </rollingPolicy>
        </appender>
        <!--输出到MQ-->
        <appender name="mq" class="com.bwton.dist.core.log.MQAppender">
            <groupName>logProducerGroup</groupName>
            <namesrvAddr>10.10.2.20:9876</namesrvAddr>
            <instanceName>logProducerGroup</instanceName>
            <maxMessageSize>131072</maxMessageSize>
            <sendMsgTimeout>10000</sendMsgTimeout>
            <sendMsgRetryTimes>3</sendMsgRetryTimes>
        </appender>
        <root level="INFO">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </root>

        <!--logback.LogbackDemo：类的全路径 -->
        <logger name="com.bwton.dist" level="DEBUG">
        </logger>
    </springProfile>
    

    <springProfile name="prod">
        <contextName>dist</contextName>
        <property name="logHome" value="./providerlog" />
        <!--输出到控制台-->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--</filter>-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS}[%X{sequence}][%X{thirdpartySequence}] %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <!--输出到文件-->
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--</filter>-->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS}[%X{sequence}][%X{thirdpartySequence}] %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <!--滚动策略-->
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--路径-->
                <FileNamePattern>${logHome}/%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
                <!-- 文件大小触发重写新文件 -->
                <maxFileSize>100MB</maxFileSize>
            </rollingPolicy>
        </appender>
        <!--输出到MQ-->
        <appender name="mq" class="com.bwton.dist.core.log.MQAppender">
            <groupName>logProducerGroup</groupName>
            <namesrvAddr>10.10.2.20:9876</namesrvAddr>
            <instanceName>logProducerGroup</instanceName>
            <maxMessageSize>131072</maxMessageSize>
            <sendMsgTimeout>10000</sendMsgTimeout>
            <sendMsgRetryTimes>3</sendMsgRetryTimes>
        </appender>
        <root level="INFO">
            <appender-ref ref="file"/>
        </root>

        <!--logback.LogbackDemo：类的全路径 -->
        <logger name="com.bwton.dist" level="INFO">
        </logger>
    </springProfile>
</configuration>